<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>风雨杨柳岸 {% block title %}{% endblock %}</title>
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="google-site-verification" content="z9jz8_6lLvdslrY5wxojPYhWkerzjyBvKT2wOYSqus0" />
    <link href="{{ STATIC_URL }}css/{% block cssid %}base{% endblock %}.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/print.css" rel="stylesheet" type="text/css" media="print" />
    {% block extrahead %}{% endblock %}
  </head>
  <body id="{% block sectionid %}generic{% endblock %}" class="{% block coltype %}default{% endblock %}">
  <div id="container">
    <div id="header">
	    <a href="/" id="logo">
	    风雨杨柳岸
	    </a>
      <ul id="nav-global">
        <li id="nav-homepage"><a href="/">Home</a></li>
        <li id="nav-code"><a href="https://github.com/windhw">GitHub</a></li>
      </ul>
    </div>
    <!-- END Header -->
    <div id="billboard">{% block billboard %}{% endblock %}</div>
    <div id="columnwrap">
      {% block columnwrap %}
        <div id="content-main">
        {% block content %}{% endblock %}
        </div>
        <!-- END #content-main -->
      {% endblock %}
    </div>
    <!-- END #content -->
    <div id="footer">
      <p>&copy; 2005-{% now "Y" %} Hao Wei, Designed By Django
      </p>
    </div>
    <!-- END #footer -->
  </div>
  <!-- END #container -->
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</html>

